.item-link {
    color: black;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin:20px;
    text-decoration: none;
  }
  .item-container {
    display: flex;
    flex-direction: column;
    width: 360px;
  }
  
  .item-image {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 200px;
  }
  

  
  .item-info {
    font-family: 'Roboto';
    width: 100%;
  }
  
  @media screen and (min-width: 575px) {
    .item-info {
      width: 60%;
    }
  }
  
  .item-topic {
    color: #000000;
    font-size: 14px;
    font-weight: 800;
  }
  
  .item-title {
    font-size: 18px;
  }
  
  .author-info {
    padding: 10px 10px 20px 10px;
  }
  
  .avatar {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }
  .author-name {
    color: #8e8e8e;
    font-size: 14px;
  }
  .post-description{
    display: flex;
    align-items: center;
  }